body {
  font-family: sans-serif;
  font-size: 10pt;
}

.tile {
  width: 10px;
  height: 10px;
  float: left;
  margin: 0;
  border: 1px solid white;
}

.row {
  width: 528px;
  height: 12px;
}

.map {
  width: 528px;
  border: 1pt solid black;
  margin: 10px;
}

.grass {
  background-color: #7CFC00;
}



.pallette {
  width: 200px;
  height: 800px;
  overflow-y: auto;
  border: 1pt solid black;
  margin: 10px;
}

.selected {
  background-color: grey;
}
